// Typography
$text-font-family: "Montserrat", sans-serif;
$title-font-family: "Montserrat", sans-serif;

// Limitation width
$wrap-phone: 290px;
$wrap-tablet: 48.33vw;
$wrap-desktop: 1164px;
$gutter-desktop: 2.5vw;
$gutter-mobile: 5vw;

// Shadows
$shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);

// Just Colors
$color-orange: #f56845;
$color-pink: #ffcdc3;
$color-blue: #7fb0de;
$color-beige: #f9f7f0;
$color-white: #ffffff;

// Greys
$color-lapis: #4d4d4d;

// Main Colors
$color-primary: $color-orange;
$color-seconary: $color-blue;

// Colors of Elements
$text-color: $color-lapis;
$accent-color: $color-orange;
$background-color: $color-beige;
$error-color: $color-orange;

// Cubic
$cubicBezier1: cubic-bezier(0.535, -0.09, 0.55, 1.115);

// Colors Classes
$colors: (
  primary: (
    base: $color-primary
  ),
  orange: (
    base: $color-orange
  ),
  pink: (
    base: $color-pink
  ),
  blue: (
    base: $color-blue
  ),
  white: (
    base: $color-white
  ),
  lapis: (
    base: $color-lapis
  )
);
